node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.cache
.DS_Store
.vscode
.idea
*.log
client/build
client/node_modules
server/node_modules
server/uploads/*
!server/uploads/.gitkeep